<div class="container">
    <div class="row">

    </div>
    <div class="row">
        <div class="col d-flex btn-pointer" 
            (click)="newTransportDialog()" >
            <span class="material-icons">
                add_circle_outline
            </span>
            <p>Agendar Nuevo Transporte</p>
        </div>
        <div class="col">
            <h2>Mantenedor de Tranportes</h2>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID Transporte</th>
                    <th scope="col">ID Reserva</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Transportista</th>
                    <th scope="col">Vehiculo de Transportista</th>
                    <th scope="col">Inicio de Transporte</th>
                    <th scope="col">Destino de Transporte</th>
                    <th scope="col">Hora de Encuentro</th>
                    <th scope="col">Modificar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transport of transportList">
                    <td>{{transport.id}}</td>
                    <td>{{transport.idBooking}}</td>
                    <td>{{transport.client}}</td>
                    <td>{{transport.transport}}</td>
                    <td>{{transport.vehicle}}</td>
                    <td>{{transport.init}}</td>
                    <td>{{transport.end}}</td>
                    <td>{{transport.schedule}}</td>
                    <td>
                        <button mat-flat-button color="primary" (click)="modifyDialog(transport)">
                            <span class="material-icons">
                                edit
                            </span>
                        </button>
                    </td>
                    <td>
                        <button mat-flat-button color="primary" (click)="deleteDialog(transport)">
                            <span class="material-icons">
                                delete
                            </span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
