<div class="container">
    <div class="modal-header">
        <h3 class="text-center">
            Detalle
        </h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <p class="fs-6 text">Nombre Departamento: 
                    <span>**Nombre**</span>
                </p>
                <p class="fs-6 text">Rut: 
                    <span>**99.999.999-9**</span>
                </p>
                <p class="fs-6 text">Nombre Cliente: 
                    <span>**Mark**</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="text-center">Lista de Invitados</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Rut</th>
                            <th scope="col">Nombre Invitado</th>
                            <th scope="col">Edad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>99.999.999</td>
                            <td>Mark</td>
                            <td>20</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between">
                    <p>Cantidad Adultos: <span> 00 </span></p>
                    <p>Cantidad Niños: <span> 00 </span></p>
                    <p>Cantidad Bebes: <span> 00 </span></p>
                </div>
            </div>
        </div>
    </div>
</div>