<div class="container-fluid">
    <header class="row">
        <h1>Turismo Real</h1>
        <section>
            <div class="container mb-5">
                <div class="row p-3">
                    <h2 class="col-12 text-center">Selecciona tu destino:</h2>
                </div>
                <div class="row">
                    <app-card-region class="col" title="Viña del Mar"
                        imagePath="../../../../../assets/images/landing/viñaDelMar.jpg"></app-card-region>
                    <app-card-region class="col" title="La Serena"
                        imagePath="../../../../../assets/images/landing/laSerena.jpg"></app-card-region>
                    <app-card-region class="col" title="Pucon"
                        imagePath="../../../../../assets/images/landing/pucon.jpg"></app-card-region>
                    <app-card-region class="col" title="Puerto Varas"
                        imagePath="../../../../../assets/images/landing/puertoVaras.jpg"></app-card-region>
                    <app-card-region class="col" title="Más Destinos..."
                        imagePath="../../../../../assets/images/landing/destinos.jpeg"></app-card-region>
                </div>
            </div>
        </section>
    </header>
    <main>
        <hr>
        <div class="container">
            <div class="row p-3">
                <h2 class="col-12 text-center">Departamentos Disponibles</h2>
            </div>
            <div class="row" *ngIf="!loading">
                <mat-card *ngFor="let department of departmentList" class="custom-card m-auto col-12 col-md-3">
                    <mat-card-header class="py-3">
                      <div mat-card-avatar class="example-header-image"></div>
                      
                      <mat-card-title>{{department.name}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="https://i.pinimg.com/originals/b2/b7/ba/b2b7bac28db534e9c2ac70c451960068.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <div class="card-icons d-flex justify-content-between">
                            <div class="d-flex">
                                <span class="material-icons px-2">bed</span>
                                <p>{{department.totalRooms}}</p>
                            </div>
                            <div class="d-flex">
                                <span class="material-icons px-2">drive_eta</span>
                                <p>{{department.totalParking}}</p>
                            </div>
                            <div class="d-flex">
                                <span class="material-icons px-2">shower</span>
                                <p>{{department.totalBaths}}</p>
                            </div>
                        </div>
                      <p>
                        {{department.departmentDesc}}
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" (click)="$event.preventDefault()" [routerLink]="['/department',department.id]">Mas Informacion</button>
                    </mat-card-actions>
                  </mat-card>
            </div>

            <div class="row" *ngIf="loading">
                <mat-spinner class="m-auto" ></mat-spinner>
            </div>
        </div>
    </main>
</div>