.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://cdn4.iconfinder.com/data/icons/travel-67/100/Airport-04-512.png');
    background-size: cover;
  }