<div class="container">
    <div>
        <h3 class="text-center">
            Administrador de Servicios
        </h3>
    </div>
    <form [formGroup]="formReservex">
        <div class="row mb-5">
            <mat-form-field class="col-12" appearance="fill">
                <mat-label>Servicio para Agregar</mat-label>
                <mat-select formControlName="servex">
                    <mat-option *ngFor="let service of serviceList" [value]="service.id">{{service.description + ": $" + service.price }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-12" appearance="fill">
                <mat-label>Cantidad de servicio extra  </mat-label>
                <input matInput formControlName="quantity">
                <mat-hint>*En caso de no ser necesario señalar 1</mat-hint>
            </mat-form-field>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Servicio</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let currentService of currentServiceList">
                        <td>{{currentService.id}}</td>
                        <td>{{currentService.servex}}</td>
                        <td>{{currentService.subtotal}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <h6>Total de Servicios</h6>
            <div><p><span>$</span>{{total}}</p></div>
            <button mat-raised-button class="w-100" (click)="addService($event)">Registrar Servicio</button>
        </div>
    </form>
</div>