<div class="container">
    <div class="row">
        <h3 class="text-center">
            Formulario de Registro de Departamentos
        </h3>
    </div>
    <form action="">
        <div class="row">
            <div class="col-6">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Nombre Departamento</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Direccion</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Region</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Ciudad</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Comuna</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Descripcion</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
                <div>
                    <p>Agregar Fotos:</p>
                    <span class="material-icons">
                        file_upload
                    </span>
                </div>
            </div>
            <div class="col-6">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Cantidad de Habitaciones</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Cantidad de Estacionamientos</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Cantidad de Baños</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Disponibilidad</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Precio</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
                <div>
                    <h4>Servicios Extra</h4>
                    <div>
                        <ul>
                            <li>
                                lorem
                            </li>
                            <li>
                                lorem
                            </li>
                            <li>
                                lorem
                            </li>
                        </ul>
                    </div>
                </div>

                <button mat-raised-button class="w-100">Guardar</button>
            </div>
        </div>
    </form>
</div>