<div class="todo">
    <div class="LogoSlogan">
        <img src="../../../../../assets/images/fondos/LogoSombreado.png" alt="">
    </div>
<div class="container p-5">
    <div *ngIf="!loading">
        <div class="row">
            <h1>{{department?.name}}</h1>
        </div>
        <div class="row">
            <div class="col-6">
                <p>{{department?.departmentDesc}}</p>
                <h2>Servicios</h2>
                <div class="d-flex flex-row">
                    <div class="d-flex">
                        <span class="material-icons px-2">bed</span>
                        <p>{{department?.totalRooms}} </p>
                    </div>
                    <div class="d-flex">
                        <span class="material-icons px-2">drive_eta</span>
                        <p>{{department?.totalParking}}</p>
                    </div>
                    <div class="d-flex">
                        <span class="material-icons px-2">shower</span>
                        <p>{{department?.totalBaths}}</p>
                    </div>
                </div>
                <h2> ${{department?.departmentPrice  |  number:'':'es'}} / NOCHE </h2>
    
    
            </div>
            <div class="col-6">
                <img [src]="department?.path" class="img-fluid p-2 m-0" alt="Responsive image">
            </div>
        </div>
        <form  [formGroup]="formBooking">
            <mat-card>
                <div class="row">
                    <div  class="col-6">
                        <div>
                            <h3>Registro de Ingreso</h3>
                        </div>
                        <div>
                            
                            <mat-form-field class="w-100" appearance="fill">
                                <mat-label>Fecha de Ingreso</mat-label>
                                <input formControlName="checkin"  matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="w-100" appearance="fill">
                                <mat-label>Fecha de Salida</mat-label>
                                <input formControlName="checkout"  matInput [matDatepicker]="pickerout">
                                <mat-datepicker-toggle matSuffix [for]="pickerout"></mat-datepicker-toggle>
                                <mat-datepicker #pickerout></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
    
                    <div class="col-6">
                        <h3>Huespedes</h3>
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Adultos</mat-label>
                                    <mat-select (selectionChange)="refreshTotalValues()" formControlName="totalAdults">
                                        <mat-option *ngFor="let index of [0,1,2,3,4,5,6,7]" [value]="index">{{index}}</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Niños</mat-label>
                                    <mat-select (selectionChange)="refreshTotalValues()" formControlName="totalChild">
                                        <mat-option *ngFor="let index of [0,1,2,3,4,5,6,7]" [value]="index">{{index}}</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                    <p>(De 2 a 12 años)</p>
                                </div>
                            <div class="col-4">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Bebes</mat-label>
                                    <mat-select (selectionChange)="refreshTotalValues()" formControlName="totalBaby">
                                        <mat-option *ngFor="let index of [0,1,2,3,4,5,6,7]" [value]="index">{{index}}</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                    <p>(Menos de 2 años)</p>
                            </div>
                            
                            <h3>{{"Total: $" + ( this.total |  number:'':'es' ) }}</h3>
    
                            <button (click)="createBooking($event)" mat-stroked-button color="primary">Reserva</button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </form>
    </div>
    <div *ngIf="loading" class="row" >
        <mat-spinner class="m-auto" ></mat-spinner>
    </div>
</div>
</div>