.nav-el{
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid black;
    *{
        text-decoration: none;
    }
}


.navbar{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 50%; /* Full width */
}