<!-- <div class="">
    <div class="offcanvas offcanvas-start w-25" tabindex="-1" id="offcanvas" data-bs-keyboard="false"
        data-bs-backdrop="false">
        <div class="offcanvas-header">
            <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h6>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body px-0">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
                <li class="nav-item">
                    <a [routerLink]="['/']" class="nav-link text-truncate">
                        <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Inicio</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/']" class="nav-link text-truncate">
                        <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">Crear Reserva</span></a>
                </li>
                <li>
                    <a [routerLink]="['/']" class="nav-link text-truncate">
                        <span class="ms-1 d-none d-sm-inline">Quienes Somos</span></a>
                </li>
                <li>
                    <a [routerLink]="['/']" class="nav-link text-truncate">
                        <span class="ms-1 d-none d-sm-inline">Contactanos</span> </a>
                </li>
                <li>
                    <a [routerLink]="['auth']" data-bs-toggle="collapse" class="nav-link text-truncate">
                        <span class="ms-1 d-none d-sm-inline">Iniciar Sesion</span> </a>
                </li>
                <li>
                    <a [routerLink]="['auth','register']" class="nav-link text-truncate">
                        <span class="ms-1 d-none d-sm-inline">Registrate</span> </a>
                </li>
            </ul>
        </div>
    </div>
    <button class="btn float-start" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
        <button class="btn float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
            <mat-icon>menu</mat-icon>
        </button>
    </button>
    <div id="content" class="container-fluid mx-auto">
        <router-outlet></router-outlet>

    </div>
</div> -->


<mat-drawer-container class="example-container" autosize>
    <mat-drawer  #drawer class="example-sidenav navbar menucompleto" mode="over">
        <ul class="menu" id="menu">
            <img class="logodentromenu" src="../../../../../assets/images/fondos/LogoDentroMenu.png" alt="">
            <li class="nav-el">
                <a [routerLink]="['/']" class="nav-link text-truncate">
                    <span class="textomenu">Inicio</span>
                </a>
            </li>
            <li class="nav-el">
                <a [routerLink]="['/']" class="nav-link text-truncate">
                    <span class="textomenu">Quienes Somos</span></a>
            </li>
            <li class="nav-el">
                <a [routerLink]="['/']" class="nav-link text-truncate">
                    <span class="textomenu">Contactanos</span> </a>
            </li>
            <li class="nav-el">
                <a [routerLink]="['auth']" data-bs-toggle="collapse" class="nav-link text-truncate">
                    <span class="textomenu">Iniciar Sesion</span> </a>
            </li>
            <li class="nav-el">
                <a [routerLink]="['auth','register']" class="nav-link text-truncate">
                    <span class="textomenu">Registrate</span> </a>
            </li>
        </ul>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button class="botonmenulineas" type="button" mat-button (click)="drawer.toggle()">
            <img class="logodentromenu" src="../../../../../assets/images/botones/MenuButtonLineas.png" alt="">
        </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>
<div class="text-center p-3 footer" style="background-color: rgba(0, 0, 0, 0.2)"> © 2021 Copyright: Turismo Real
    <a class="text-dark"
        href="http://localhost:4200/%22%3ETurismoReal"></a> <img height="40px" width="40px"
        src="../../../../../assets/images/botones/facebook.png" alt=""> <img height="40px" width="40px"
        src="../../../../../assets/images/botones/instagram.png" alt=""> <img height="40px" width="40px"
        src="../../../../../assets/images/botones/google.png" alt=""> <img height="40px" width="40px"
        src="../../../../../assets/images/botones/whatsapp.png" alt=""> </div>
