<!-- <div class="">
    <div class="offcanvas offcanvas-start w-25" tabindex="-1" id="offcanvas" data-bs-keyboard="false"
        data-bs-backdrop="false">
        <div class="offcanvas-header">
            <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h6>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body px-0">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
                <li class="nav-item">
                    <a [routerLink]="['/']" class="nav-link text-truncate">
                        <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Inicio</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/']" class="nav-link text-truncate">
                        <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">Crear Reserva</span></a>
                </li>
                <li>
                    <a [routerLink]="['/']" class="nav-link text-truncate">
                        <span class="ms-1 d-none d-sm-inline">Quienes Somos</span></a>
                </li>
                <li>
                    <a [routerLink]="['/']" class="nav-link text-truncate">
                        <span class="ms-1 d-none d-sm-inline">Contactanos</span> </a>
                </li>
                <li>
                    <a [routerLink]="['auth']" data-bs-toggle="collapse" class="nav-link text-truncate">
                        <span class="ms-1 d-none d-sm-inline">Iniciar Sesion</span> </a>
                </li>
                <li>
                    <a [routerLink]="['auth','register']" class="nav-link text-truncate">
                        <span class="ms-1 d-none d-sm-inline">Registrate</span> </a>
                </li>
            </ul>
        </div>
    </div>
    <button class="btn float-start" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
        <button class="btn float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
            <mat-icon>menu</mat-icon>
        </button>
    </button>
    <div id="content" class="container-fluid mx-auto">
        <router-outlet></router-outlet>

    </div>
</div> -->


<mat-drawer-container class="example-container" autosize>
    <mat-drawer  #drawer class="example-sidenav navbar" mode="over">
        <ul id="menu">
            <li class="nav-el">
                <a [routerLink]="['/']" class="nav-link text-truncate">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="nav-el">
                <a [routerLink]="['/']" class="nav-link text-truncate">
                    <span>Crear Reserva</span>
                </a>
            </li>
            <li class="nav-el">
                <a [routerLink]="['/']" class="nav-link text-truncate">
                    <span>Quienes Somos</span></a>
            </li>
            <li class="nav-el">
                <a [routerLink]="['/']" class="nav-link text-truncate">
                    <span>Contactanos</span> </a>
            </li>
            <li class="nav-el">
                <a [routerLink]="['auth']" data-bs-toggle="collapse" class="nav-link text-truncate">
                    <span>Iniciar Sesion</span> </a>
            </li>
            <li class="nav-el">
                <a [routerLink]="['auth','register']" class="nav-link text-truncate">
                    <span>Registrate</span> </a>
            </li>
        </ul>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>