<div class="container">
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <h2 class="text-center">Generar CHECK OUT</h2>
            </div>
            <div class="row">
                <div class="col-4">
                    <h3>Detalle de Multas</h3>
                </div>
                <div class="col-4">
                    <h3>Detalle de Servicios Extra</h3>
                </div>
                <div class="col-4">
                    <div>
                        <h3>Detalle de Reserva</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th>Detalle</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let multa of checkout?.multaList">
                                <td>{{multa.fineName}}</td>
                                <td>{{multa.subTotal | number}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Total Multas: ${{checkout?.totalMulta | number}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th>Detalle</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let extraservice of checkout?.extraServicesList">
                                <td>{{extraservice.servName}} FALTAAA</td>
                                <td>{{extraservice.subTotal | number}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Total Servicios Extra: ${{checkout?.totalExtraServices | number}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th>Detalle</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Reserva base</td>
                                    <td>{{checkout?.totalBooking}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Total Reserva: ${{checkout?.totalBooking | number}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card row py-4 ">

                    <div class="d-flex justify-content-around">
                        <div >
                            <p>Subtotal: <br> ${{total | number}}</p>
                        </div>
                        <div>
                            <p> Fecha de Ingreso: <br> {{checkout?.checkin}}</p>
                        </div>
                        <div>
                            <p> Fecha de Salida: <br> {{checkout?.checkout}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="createCheckout($event)" mat-flat-button class="w-50" color="primary">Generar</button>
        </div>
    </div>