

<mat-drawer-container class="example-container" autosize>
    <mat-drawer  #drawer class="example-sidenav navbar menucompleto" mode="over">
        <ul class="menu" id="menu">
            <img class="logodentromenu" src="../../../../../assets/images/fondos/LogoDentroMenu.png" alt="">
            <li class="nav-el">
                <a [routerLink]="['/client']"   data-bs-toggle="collapse" class="nav-link text-truncate">
                    <span class="textomenu">Inicio</span>
                </a>
            </li>
            <li class="nav-el">
                <a [routerLink]="['/client','booking'] " data-bs-toggle="collapse" class="nav-link text-truncate">
                    <span class="textomenu">Modificar o Cancelar Reservas</span>
                </a>
            </li>
            <li class="nav-el">
                <a [routerLink]="['/client','order'] " data-bs-toggle="collapse" class="nav-link text-truncate">
                    <span class="textomenu">Ordenes de Pago</span>
                </a>
            </li>
            <li class="nav-el">
                <a [routerLink]="[] " data-bs-toggle="collapse" class="nav-link text-truncate">
                    <span class="textomenu">Quienes Somos</span>
                </a>
            </li>
            <li class="nav-el">
                <a [routerLink]="[] " data-bs-toggle="collapse" class="nav-link text-truncate">
                    <span class="textomenu">Contactenos</span>
                </a>
            </li>
            <li class="nav-el">
                <a  (click)="logout($event) " data-bs-toggle="collapse" class="nav-link text-truncate">
                    <span class="textomenu">Cerrar Sesion</span>
                </a>
            </li>
        </ul>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button class="botonmenulineas" type="button" mat-button (click)="drawer.toggle()">
            <img class="logodentromenu" src="../../../../../assets/images/botones/MenuButtonLineas.png" alt="">
        </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>


