<div class="container">
    <div class="row">
        <h3 class="text-center">
            Administrador de Inventario
        </h3>
    </div>
    <form  [formGroup]="formInventoryRelation">
        <div class="row">
            <mat-form-field class="col-sm-12 col-md-6" appearance="fill">
                <mat-label>Cantidad del Elemento</mat-label>
                <input matInput formControlName="quantity">
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-6" appearance="fill">
                <mat-label>Seleccional Elemento</mat-label>
                <mat-select formControlName="inventory">
                    <mat-option *ngFor="let inventory of inventoryList" [value]="inventory.id">{{inventory.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Elemento</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Retirar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let inventoryRelation of inventoryByDepartment">
                        <td>{{inventoryRelation.id}}</td>
                        <td>{{inventoryRelation.inventoryName}}</td>
                        <td>{{inventoryRelation.quantity}}</td>
                        <td (click)="deleteElement(inventoryRelation)">
                            <button  mat-fab color="warn" >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <button mat-raised-button class="w-100" (click)="addInventoryElement()">Agregar Al Inventario</button>
        </div>
    </form>
</div>