<div class="todo">
    <div class="LogoSlogan">
        <img src="../../../../../assets/images/fondos/LogoSombreado.png" alt="">
      </div>
<div class="container p-5">
    <div class="row">

    </div>
    <div class="row">
        <div class="col d-flex btn-pointer" 
            (click)="formUserDialog()">
            <div class="BotonAgregar">
                <img class="wimage" src="../../../../../assets/images/botones/AgregarButton.png" alt="">
            </div>
        </div>
        <div class="col">
            <h2>Listado de Clientes</h2>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tipo</th>
                    <th scope="col">RUT</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido Paterno</th>
                    <th scope="col">Modificar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let user of userList">
                    <td>{{user.userType}}</td>
                    <td>{{user.rut}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastNameP}}</td>
                    <td>
                        <button  mat-flat-button color="primary"  (click)="formUserDialog(user)">
                            Modificar
                        </button>
                    </td>
                    <td>
                        <button  mat-flat-button color="primary" (click)="deleteDialog(user)">
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>