<div class="container">
    <div class="row">

    </div>
    <div class="row">
        <div class="col d-flex btn-pointer" 
            (click)="formDepartmentDialog()" >
            <span class="material-icons">
                add_circle_outline
            </span>
            <p>Agregar</p>
        </div>
        <div class="col">
            <h2>Listado de Departamentos</h2>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre Departamento</th>
                    <th scope="col">comuna</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Mantenimiento</th>
                    <th scope="col">Inventario</th>
                    <th scope="col">Modificar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let department of departmentList">
                    <td>{{department.id}}</td>
                    <td>{{department.name}}</td>
                    <td>{{department.state}}</td>
                    <td>{{department.address}}</td>
                    <td>{{department.price}}</td>
                    <!-- <td>
                        <button type="button" class="btn btn-primary"  (click)="disponibilityDialog(user)">
                            Disponibilidad
                        </button>
                    </td> -->
                    <td>
                        <button mat-flat-button color="primary" (click)="maintenceDialog(department)">
                            <span class="material-icons">
                                engineering
                            </span>
                        </button>
                    </td>
                    <td>
                        <button mat-flat-button color="primary" (click)="inventoryDialog(department)">
                            <span class="material-icons">
                                layers
                            </span>
                        </button>
                    </td>
                    <td>
                        <button mat-flat-button color="primary" (click)="formDepartmentDialog(department)">
                            <span class="material-icons">
                                edit
                            </span>
                        </button>
                    </td>
                    <td>
                        <button mat-flat-button color="primary" (click)="deleteDialog(department)">
                            <span class="material-icons">
                                delete
                            </span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
