<div class="container">
    <div class="row">
        <div class="col d-flex btn-pointer" 
         (click)="extraServiceDialog()">
        <span class="material-icons">
            add_circle_outline
        </span>
        <p>Solicitar Servicio Extra</p>
        <div class="col">
            <h2 class="text-center">Listado de Departamentos</h2>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre Departamento</th>
                    <th scope="col">Comuna</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Ver Detalles</th>
                    <th scope="col">Cancelar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of bookingList">
                    <td>{{booking.id}}</td>
                    <td>{{booking.departmentName}}</td>
                    <td>{{booking.communne}}</td>
                    <td>{{booking.address}}</td>
                    <td>
                        <button mat-flat-button color="primary" (click)="detailDialog(booking)">
                            Ver detalles
                        </button>
                    </td>
                    <td>
                        <button mat-flat-button color="primary" (click)="cancelDialog(booking)">
                            Cancelar Reserva
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

