<div class="container">
    <div class="row">

    </div>
    <div class="row">
        <div class="col">
            <h2 class="text-center">Administrador de Reservas</h2>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nonbre Departamento</th>
                    <th scope="col">Comuna</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Rut Cliente</th>
                    <th scope="col">Nombre Cliente</th>
                    <th scope="col">Multas</th>
                    <th scope="col">Servicios Extras</th>
                    <th scope="col">Check-IN</th>
                    <th scope="col">Check-OUT</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of bookingList">
                    <td>{{booking.id}}</td>
                    <td>{{booking.departmentName}}</td>
                    <td>{{booking.commune}}</td>
                    <td>{{booking.departmentAddress}}</td>
                    <td>{{booking.clientRut}}</td>
                    <td>{{booking.clientName}}</td>
                    <td>
                        <button type="button" mat-stroked-button (click)="finesDialog(booking)">
                            Gestionar
                        </button>
                    </td>
                    <td>
                        <button type="button" mat-stroked-button (click)="extraServicesDialog(booking)">
                            Gestionar
                        </button>
                    </td>
                    <!-- CheckIn nuevo campo a ser asignado en la bd, debe referenciar el caso de que sea un true cuando es efectiva la llegada del cliente -->
                    <td>
                        <button type="button" mat-stroked-button (click)="checkInDialog(booking)">
                            Ingresar
                        </button>
                    </td>
                    <td>
                        <button type="button" mat-stroked-button (click)="checkOutDialog(booking)">
                            Generar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

