<mat-drawer-container class="example-container" autosize>
    <mat-drawer  #drawer class="example-sidenav navbar menucompleto" mode="over">
        <ul class="menu" id="menu">
            <img class="logodentromenu" src="../../../../../assets/images/fondos/LogoDentroMenu.png" alt="">

            <li class="nav-el">
                <a [routerLink]="['/auth']" data-bs-toggle="collapse" class="nav-link text-truncate">
                    <span class="textomenu">Iniciar Sesion</span>
                </a>
            </li>
            <li class="nav-el">
                <a [routerLink]="['/auth','register']" data-bs-toggle="collapse" class="nav-link text-truncate">
                    <span class="textomenu">Registrarse</span>
                </a>
            </li>
            <li class="nav-el">
                <a [routerLink]="['/']" data-bs-toggle="collapse" class="nav-link text-truncate">
                    <span class="textomenu">Volver a Menu Principal</span>
                </a>
            </li>
        </ul>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button class="botonmenulineas" type="button" mat-button (click)="drawer.toggle()">
            <img class="logodentromenu" src="../../../../../assets/images/botones/MenuButtonLineas.png" alt="">
        </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>


