@import "~bootstrap-icons/font/bootstrap-icons.css";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-button.mat-primary,
.mat-stroked-button.mat-primary {
    color: #d5bb7b;
}
.mat-button.mat-primary:hover,
.mat-stroked-button.mat-primary:hover {
  background-color: #ffffff;
}

.mat-raised-button.mat-primary,
.mat-flat-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  color: #ffffff;
  background-color: #d5bb7b;
}

.mat-icon-button.mat-primary {
  color:#d5bb7b;
}

.btn-pointer{
  cursor: pointer;
}


.botonmenulineas{
  position:absolute;
  z-index: 5;
  float: left;
  width: 5%;
  height: 5%;
  margin-top: 1%;
}

.logodentromenu{
  width: 100%;
}

.textomenu{
  color: black;
}

.nav-el{
  font-size: 1.2rem;
  text-decoration: none;
  border: 0.2px outset #edc152;
  text-align: center;
}

.navbar{
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 25%; /* Full width */
}

.menu {
  list-style: none;
  background: #d5bb7b;
}

.menucompleto{
  background: #ebe4c4;
}

@media only screen and (max-width: 768px) {
  .navbar{
      overflow: hidden;
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 75%; /* Full width */
  }
}

