<div class="container">
    <div class="row">

    </div>
    <div class="row">
        <div class="col">
            <h2 class="text-center">Disponibilidad de Departamentos</h2>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Disponibilidad</th>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre Departamento</th>
                    <th scope="col">Comuna</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Activar</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>Si</td>
                    <td>1</td>
                    <td>Nombre depto</td>
                    <td>Datos Comuna</td>
                    <td>Direccion</td>
                    <td>123</td>
                    <td>
                        <button type="button" mat-stroked-button mat-stroked-button data-bs-toggle="modal" data-bs-target="#checkout" data-bs-target="#formDepartment">
                            Detalle
                        </button>
                    </td>
                    <td>
                        <button type="button" >
                            Cambiar Estado
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="formDepartment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center">
                    Detalle
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <p class="fs-6 text">Nombre Departamento: 
                            <span>**Nombre**</span>
                        </p>
                        <p class="fs-6 text">Rut: 
                            <span>**99.999.999-9**</span>
                        </p>
                        <p class="fs-6 text">Nombre Cliente: 
                            <span>**Mark**</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h2 class="text-center">Lista de Invitados</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Rut</th>
                                    <th scope="col">Nombre Invitado</th>
                                    <th scope="col">Edad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>99.999.999</td>
                                    <td>Mark</td>
                                    <td>20</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between">
                            <p>Cantidad Adultos: <span> 00 </span></p>
                            <p>Cantidad Niños: <span> 00 </span></p>
                            <p>Cantidad Bebes: <span> 00 </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

