<mat-drawer-container class="example-container" autosize>
    <mat-drawer  #drawer class="example-sidenav navbar menucompleto" mode="over">
        <ul class="menu" id="menu">
            <img class="logodentromenu" src="../../../../../assets/images/fondos/LogoDentroMenu.png" alt="">

            <li class="nav-el">
                <a [routerLink]="['/','admin','departments']" data-bs-toggle="collapse" class="nav-link text-truncate">
                    <span class="textomenu">Administrador de Departamentos</span>
                </a>

            </li>
            <li class="nav-el">    
                <a [routerLink]="['/','admin','users']" data-bs-toggle="collapse" class="nav-link text-truncate">
                    <span class="textomenu">Administrador de Usuarios</span>
                </a>
            </li>
            <li class="nav-el">    
                <a [routerLink]="['/','admin','transport']" data-bs-toggle="collapse" class="nav-link text-truncate">
                    <span class="textomenu">Administrador de Transporte</span>
                </a>
            </li>
            <li class="nav-el">
                <a (click)="logout($event)" data-bs-toggle="collapse" class="nav-link text-truncate">
                    <span class="textomenu">Cerrar Sesion</span>
                </a>
            </li>
        </ul>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button class="botonmenulineas" type="button" mat-button (click)="drawer.toggle()">
            <img class="logodentromenu" src="../../../../../assets/images/botones/MenuButtonLineas.png" alt="">
        </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>



